<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.superengine.auth.demo">

    <application
        android:name="com.superengine.auth.demo.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupenEngineAuth">
        <activity
            android:name="com.superengine.auth.demo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.superengine.auth.demo.SchemeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="your host"
                    android:scheme="your scheme" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"></activity>
        <activity
            android:name=".CustomUIAuthActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".CustomUIAuthActivity2"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>